<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">SecretsBasic</p>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="register"><a href="/register">REGISTER</a></li>
        <li id="login"><a href="/login">LOGIN</a></li>
        <li id="secrets"><a href="/secrets">SECRETS</a></li>
        <li id="logout"><a href="/logout">LOGOUT</a></li>
      </ul>
  </div>
</nav>